{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.bluemix.net",
      "Org": "gusletra@student.gu.se",
      "Space": "watson"
    },
    "Name": "watson-entity-finder",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}